.draggable {
  padding: 1rem;
  cursor: move;
  border-radius: 10px; 
  max-width: 300px;
  color: #fff;
}
.draggable input {
  border: none;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  width: calc(100% - 20px);
}
.draggable textarea {
  border: none;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  width: calc(100% - 20px);
  resize: none;
  font-family: var(--font);
  font-size: 15px;
}
#b001, #b002, #b003, #b001c ,#b002c, #b003c {
  background: #9966ff;
}
#b004, #b005, #b004c, #b005c {
  background: #40bf4a;
}
#b001.draggable {
  border-radius: 10px 10px 0px 0px;
}
#b002.draggable {
  border-radius: 0px;
}
#b003.draggable {
  border-radius: 0px 0px 10px 10px;
}

#b001c.draggable {
  margin: 20px 0px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
#b002c.draggable {
  margin: 0px;
  border-radius: 0px;
}
#b003c.draggable {
  margin: 0px 0px 20px 0px;
  border-radius: 0px 0px 10px 10px;
}